<footer class="footer text-muted">
  <div class="container">
      <div class="col-16">
        <ul class="list-inline">
          <li class="list-inline-item">✨ <a href="/cloud">Dekart Cloud</a></li>
          <li class="list-inline-item"><a href="/legal/notice">Legal Notice</a></li>
          <li class="list-inline-item"><a href="/legal/terms">Terms of Service</a></li>
          <li class="list-inline-item"><a href="/legal/privacy">Privacy Policy</a></li>
        </ul>
      </div>
  </div>
</footer>