<footer class="footer text-muted">
  <div class="container">
      <div class="col-16">
        <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-0 text-center">
          <li class="mx-2 my-1"><a href="/legal/">Legal</a></li>
          <li class="mx-2 my-1"><a href="/docs/about/playground/">BigQuery Playground</a></li>
          <li class="mx-2 my-1"><a href="/docs/about/overture-maps-examples/">Overture Maps Examples</a></li>
          <li class="mx-2 my-1"><a href="/docs/about/kepler-gl-map-examples/">Kepler.gl Maps Examples</a></li>
          <li class="mx-2 my-1"><a href="/carto/">CARTO Alternative</a></li>
          <li class="mx-2 my-1"><a href="/blog/">Blog</a></li>
        </ul>
      </div>
  </div>
</footer>
