{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">Page not found :(</h1>
      <p class="text-center">The page you are looking for doesn't exist or has been moved.</p>
      <p class="text-center mt-4">
        <a class="btn btn-primary btn-lg d-inline-block mb-2" href="https://cloud.dekart.xyz/workspace?ref=404-create-map" role="button">Create Map</a>
        <a class="btn btn-outline-primary btn-lg d-inline-block mb-2" href="https://calendly.com/vladi-dekart/30min?ref=404-book-a-call" role="button">Book a call</a>
      </p>
      <p class="text-center text-muted">Lost? Just ask us what you were looking for.</p>
    </article>
  </div>
</div>
{{ end }}