{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
    <!-- <div class="center-block"><img class="mw-100" src="/images/screen.png" alt="Dekart Screenshot: Visualizing Chicago Crime Dataset Hosted on BigQuery"/></div> -->
    <div class="center-block">
      {{ $image := .Page.Resources.GetMatch ("*covid-population-density-germany.png*") -}}
      {{ $lqip := $image.Resize $.Site.Params.lqipWidth -}}

      {{ $alt := "Dekart Example: COVID and Population Density Map in Germany using BigQuery Public Datasets" -}}
      {{ $imgSrc := "" -}}
      {{ $imgSrcSet := slice -}}

      {{ $widths := $.Site.Params.landscapePhotoWidths -}}
      {{ if gt $image.Height $image.Width -}}
      {{ $widths = $.Site.Params.portraitPhotoWidths -}}
      {{ end -}}

      {{ range $widths -}}
      {{ $srcUrl := (printf "%dx" . | $image.Resize).Permalink -}}
      {{ if eq $imgSrc "" -}}{{ $imgSrc = $srcUrl -}}{{ end -}}
      {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) -}}
      {{ end -}}
      {{ $imgSrcSet = (delimit $imgSrcSet ",") -}}

      <figure class="main">
        <a href="https://play.dekart.xyz/reports/40ab609f-30cb-47ac-9394-e807f5795cc6/source" target="_blank"
          title="COVID vs Population Density in Germany on Dekart BigQuery Playground"><img class="img-fluid lazyload"
            data-sizes="auto" src="{{ $lqip.Permalink }}" data-srcset="{{ $imgSrcSet }}" width="{{ $image.Width }}"
            height="{{ $image.Height }}" alt="{{ $alt }}"></a>
        <noscript><img class="img-fluid" sizes="100vw" srcset="{{ $imgSrcSet }}" src="{{ $image.Permalink }}"
            width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}"></noscript>
      </figure>

    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="mt-2"><a class="btn btn-primary btn-lg" href="/docs/about/playground/" role="button">BigQuery
          Playground</a></p>
      <p><a href="/docs/about/your-datasets/">Use with private datasets</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "blog-prefooter" }}
<section class="section section-sm mt-n3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <h2 class="mt-3 text-center">What's New?</h2>
        {{ range (where .Site.RegularPages.ByDate "Section" "blog" ) -}}
        <div class="card">
          <div class="card-body">
            <h2 class="h3"><a class="stretched-link text-body" href="{{ .Permalink }}">{{ .Params.title }}</a></h2>
            <p>{{ .Params.lead | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . -}}
          </div>
        </div>
        {{ end -}}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Visualize up to 1 million rows</h2>
        <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a>
          out of the box. Easily change the default Security Headers to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast by default</h2>
        <p>Get 100 scores on <a
            href="https://googlechrome.github.io/lighthouse/viewer/?gist=7731347bb8ce999eff7428a8e763b637">Google
            Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}