{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0 display-3" style="
        background-color: white;
        background-image: linear-gradient(90deg, #1A90FF, #d32e9d);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    ">SQL to Map. <span class="d-inline-block">Instantly.</span></h1>
    </div>
    <div class="col-lg-12 text-center">
      <p class="lead">
        <span class="d-inline-block">We took <em class="fst-italic">Kepler.gl</em>, and connected it to your data
          warehouse. Now you can type SQL and get beautiful, up-to-date maps ready to share with your team.</span>
      </p>
      <p>
        <em class="d-inline-block mark">Light alternative to CARTO</em>
      </p>
    </div>
    <div class="col-lg-9 col-xl-8 text-center mt-4">
      <p class="mt-2">
        <a class="btn btn-primary btn-lg d-inline-block mb-2" href="https://cloud.dekart.xyz/?ref=start-free"
          role="button">Start Free</a>
        <a class="btn btn-outline-primary btn-lg d-inline-block mb-2"
          href="https://calendly.com/vladi-dekart/30min?ref=book-demo" role="button">Book a Demo</a>
      </p>
    </div>
    {{ partial "main/cloud-main-video.html" (dict
      "video_src" "/main-page-screencast-4.mp4"
      "poster_src" "/main-page-screencast-4.png"
      "autoplay" true
      "muted" true
      "loop" true
      "playsinline" true
    ) }}
    <!-- Animated Logo Stripe -->
    {{ partial "main/animated-logo-stripe.html" (dict
      "logos_dir" "static/images/community-logos"
      "link_url" "https://slack.dekart.xyz/"
      "link_title" "Join our Slack Community of users and contributors"
      "animation_duration" 30
    ) }}
  </div>
</section>
{{ end }}

{{ define "blog-prefooter" }}
<section class="section section-sm mt-n3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <h2 class="mt-3 text-center">Blog</h2>
        {{ range (where .Site.RegularPages.ByDate.Reverse "Section" "blog" ) -}}
        <div class="card mb-5">
          <div class="card-body">
            <h2 class="h3"><a class="stretched-link text-body" href="{{ .Permalink }}">{{ .Params.title }}</a></h2>
            <p>{{ .Params.lead | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . -}}
          </div>
        </div>
        {{ end -}}
        <div class="text-center">
          <a href="/blog/">More posts</a>
        </div>
      </div>
    </div>
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
{{ partial "main/map-examples-section.html" (dict
  "title" "Map Examples"
  "examples_dir" "static/images/map-examples"
  "connectors" (slice
    (dict "name" "BigQuery" "icon" "/bigquery.svg" "link" "/docs/about/overture-maps-examples/")
    (dict "name" "Snowflake" "icon" "/snowflake.svg" "link" "/docs/about/snowflake-kepler-gl-examples/")
    (dict "name" "Wherobots" "icon" "/wherobots.svg" "link" "/docs/usage/wherobots-sql-tutorial/")
  )
) }}
<!-- testimonials -->
{{ partial "main/testimonials-section.html" (dict
  "title" "What Our Users Say"
  "testimonials" (slice
    (dict
      "name" "Daniel Lewis"
      "title" "Distinguished Data Scientist"
      "company" "Geotab"
      "photo" "https://media.licdn.com/dms/image/v2/C5603AQE1wbQEH-uBwg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1614985101298?e=1759968000&v=beta&t=ATX49QrmMQAw9Nc4tGnPAolf4pNisbs1K3FGMfeXQCY"
      "content" (slice
        "Over the last year we have been migrating our geospatial data visualization out of jupyter notebooks and various ad-hoc tools onto the Dekart."
        "Sharing investigations and results with other teams at the company is seamless and I have one-stop-shop for all of my saved maps."
        "The feedback from the rest of the data science team has been unanimously positive."
      )
      "linkedin_url" "https://www.linkedin.com/posts/djlewis173_at-geotab-we-are-dealing-with-data-at-scale-activity-7336539605539688450-2o7S?utm_source=share&utm_medium=member_desktop&rcm=ACoAAANU9nQBE52GpF43RbBUpnSWTebGev0XZWM"
    )
    (dict
      "name" "Laetitia Jumel"
      "title" "VP of Data"
      "company" "Electra"
      "photo" "https://media.licdn.com/dms/image/v2/C5603AQFniL5S7Wnvng/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1634644438614?e=1759968000&v=beta&t=8RTeEy_iz4QRCzW6WcD7zORauElHZJlzZRZGaREdcbI"
      "content" (slice
        "Visualizing data on maps can be super effective to understand local dynamics. For communication, maps never disappoint."
        "We are really glad to have found a tool that connects to our data warehouse and allows us to handle geospatial data at scale and very easily."
        "I made this map with one SQL query and took just a few minutes to ensure that it looks good!"
      )
      "linkedin_url" "https://www.linkedin.com/posts/laetitiajumel_visualizing-data-on-maps-can-be-super-effective-activity-7254439233237434368-6lXQ/?utm_source=share&utm_medium=member_desktop"
    )
  )
) }}

<!-- video tutorials -->
{{ partial "main/video-tutorials-section.html" (dict
  "title" "Learn by Watching"
  "subtitle" "Short tutorials showing how to create and share maps with Dekart."
  "videos" (slice
    (dict "youtube_id" "_2ryUu43XRo" "title" "Video Tutorial 1" "alt" "Video Tutorial 1")
    (dict "youtube_id" "UJdKENJis2Y" "title" "Video Tutorial 3" "alt" "Video Tutorial 3")
    (dict "youtube_id" "GS2Xbl77RpM" "title" "Video Tutorial 2" "alt" "Video Tutorial 2")
  )
) }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}