{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0 display-3" style="
        background-color: white;
        background-image: linear-gradient(90deg, #1A90FF, #d32e9d);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    ">Connect Kepler.gl to <span class="d-inline-block">Your Cloud Data</span></h1>
    </div>
    <div class="col-lg-12 text-center">
      <p class="lead">
        <span class="d-inline-block">Integrate Kepler.gl with BigQuery, Snowflake, Athena and Postgres.</span>
        <span class="d-inline-block">Create and share maps instantly with SQL, without any ETL pipelines involved. </span>
      </p>
    </div>
    <div class="col-lg-9 col-xl-8 text-center mt-4">
      <p class="mt-2"><a class="btn btn-primary btn-lg" href="https://cloud.dekart.xyz/?ref=create-workspace" role="button">Create free Workspace</a></p>
          <p><a href="/docs/about/overture-maps-examples/">Public datasets examples</a></p>
    </div>
    <div class="center-block">
      {{ $image := .Page.Resources.GetMatch ("*all-nevada-roads.png*") -}}
      {{ $lqip := $image.Resize $.Site.Params.lqipWidth -}}

      {{ $alt := "Dekart Example: All Nevada Roads from free Overture Maps dataset" -}}
      {{ $imgSrc := "" -}}
      {{ $imgSrcSet := slice -}}

      {{ $widths := $.Site.Params.landscapePhotoWidths -}}
      {{ if gt $image.Height $image.Width -}}
      {{ $widths = $.Site.Params.portraitPhotoWidths -}}
      {{ end -}}

      {{ range $widths -}}
      {{ $srcUrl := (printf "%dx" . | $image.Resize).Permalink -}}
      {{ if eq $imgSrc "" -}}{{ $imgSrc = $srcUrl -}}{{ end -}}
      {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) -}}
      {{ end -}}
      {{ $imgSrcSet = (delimit $imgSrcSet ",") -}}

      <figure class="main">
        <a href="https://cloud.dekart.xyz/reports/15540f2b-2411-44a4-92b5-206a9bee5753/source" target="_blank"
          title="All Nevada Roads from free Overture Maps dataset"><img class="img-fluid lazyload"
            data-sizes="auto" src="{{ $lqip.Permalink }}" data-srcset="{{ $imgSrcSet }}" width="{{ $image.Width }}"
            height="{{ $image.Height }}" alt="{{ $alt }}"></a>
        <noscript><img class="img-fluid" sizes="100vw" srcset="{{ $imgSrcSet }}" src="{{ $image.Permalink }}"
            width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}"></noscript>
      </figure>
    </div>
  </div>
</section>
{{ end }}

{{ define "blog-prefooter" }}
<section class="section section-sm mt-n3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <h2 class="mt-3 text-center">Blog</h2>
        {{ range (where .Site.RegularPages.ByDate.Reverse "Section" "blog" ) -}}
        <div class="card mb-5">
          <div class="card-body">
            <h2 class="h3"><a class="stretched-link text-body" href="{{ .Permalink }}">{{ .Params.title }}</a></h2>
            <p>{{ .Params.lead | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . -}}
          </div>
        </div>
        {{ end -}}
        <div class="text-center">
          <a href="/blog/">More posts</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
<section class="section section-featured mt-3 bg-light py-5">
  <div class="container">
    <!-- <h2 class="h3 mt-0 mb-5 text-center">Connectors</h2> -->
    <div class="row justify-content-center g-4">
      <div class="col-sm">
        <div class="text-center">
          <img class="connector" src="/bigquery.svg" alt="BigQuery">
          <div class="h5 connector">BigQuery</div>
          <div class="configure-in-cloud">
            <a class="btn btn-info btn-sm" href="https://cloud.dekart.xyz/connections?ref=dekart-xyz-connect" title="Connect instantly in Dekart Cloud" target="_blank">Cloud</a>
            <a class="btn btn-secondary btn-sm" href="/docs/configuration/environment-variables/#bigquery" title="Configure in Dekart Cloud" target="_blank">Self-hosted</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="text-center">
          <img class="connector" src="/snowflake.svg" alt="snowflake">
          <div class="h5 connector">Snowflake</div>
          <div class="configure-in-cloud">
            <a class="btn btn-primary btn-sm" href="https://app.snowflake.com/marketplace/listing/GZSYZJNO4W/dekart-xyz-dekart" title="Run instantly in your Snowflake account" target="_blank">Snowpark</a>
            <a class="btn btn-info btn-sm" href="https://cloud.dekart.xyz/connections?ref=dekart-xyz-connect" title="Connect instantly in Dekart Cloud" target="_blank">Cloud</a>
            <a class="btn btn-secondary btn-sm" href="/docs/configuration/environment-variables/#snowflake" title="Self-hosted" target="_blank">Self-hosted</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="text-center">
          <img class="connector" src="/athena.svg" alt="AWS Athena">
          <div class="h5 connector">Athena</div>
          <div class="configure-in-cloud">
            <a class="btn btn-secondary btn-sm" href="/docs/configuration/environment-variables/#aws-athena" title="Self-hosted" target="_blank">Self-hosted</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="text-center">
          <img class="connector" src="/postgres.svg" alt="Postgres">
          <div class="h5 connector">Postgres</div>
          <div class="configure-in-cloud">
            <a class="btn btn-secondary btn-sm" href="/docs/configuration/environment-variables/#postgres-as-a-data-source" title="Self-hosted" target="_blank">Self-hosted</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-left">
      <div class="col-lg-5">
        <h2 class="h4">Managed or Self-Hosted</h2>
        <p>Unlike premium-priced CARTO Builder, Dekart offers cost-efficient <a href="/cloud/">cloud</a> and <a target="_blank" href="https://github.com/dekart-xyz/dekart">open-source</a> options to meet the needs of every kepler.gl user.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Keeping Data Secure</h2>
        <p>With direct connection and <a href="/docs/cloud/cloud-security-faq/">passthrough authentication</a>, Dekart allows you to create kepler.gl maps without copying sensitive data from your cloud database.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Keep Maps Updated</h2>
        <p>Create kepler.gl maps from SQL queries and keep them in sync with your database. Efficient and secure caching ensures your maps update without re-running query jobs for each view.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
