{{/*
  Animated Logo Stripe Shortcode

  Usage: {{< animated-logo-stripe >}}
  Or with parameters: {{< animated-logo-stripe logos_dir="static/images/custom-logos" >}}
*/}}

{{ $logosDir := .Get "logos_dir" | default "static/images/community-logos" }}
{{ $linkUrl := .Get "link_url" | default "https://slack.dekart.xyz/" }}
{{ $linkTitle := .Get "link_title" | default "Join our Slack Community of users and contributors" }}
{{ $animationDuration := .Get "animation_duration" | default 30 }}

<a class="dekart-logos" href="{{ $linkUrl }}" title="{{ $linkTitle }}">
  <div class="dekart-logos-track" style="animation-duration: {{ $animationDuration }}s;">
    {{ range (readDir $logosDir) }}
      {{ if ne .Name ".DS_Store" }}
        <div class="dekart-logo">
          <img src="/images/community-logos/{{ .Name }}" alt="{{ replace .Name ".png" "" | title }}" loading="lazy">
        </div>
      {{ end }}
    {{ end }}
    {{ range (readDir $logosDir) }}
      {{ if ne .Name ".DS_Store" }}
        <div class="dekart-logo">
          <img src="/images/community-logos/{{ .Name }}" alt="{{ replace .Name ".png" "" | title }}" loading="lazy">
        </div>
      {{ end }}
    {{ end }}
  </div>
</a>
