{{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) -}}
{{ $lqip := $image.Resize $.Site.Params.lqipWidth -}}

{{ $imgSrc := "" -}}
{{ $imgSrcSet := slice -}}

{{ $widths := $.Site.Params.landscapePhotoWidths -}}
{{ if gt $image.Height $image.Width -}}
  {{ $widths = $.Site.Params.portraitPhotoWidths -}}
{{ end -}}

{{ range $widths -}}
  {{ $srcUrl := (printf "%dx" . | $image.Resize).Permalink -}}
  {{ if eq $imgSrc "" -}}{{ $imgSrc = $srcUrl -}}{{ end -}}
  {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) -}}
{{ end -}}
{{ $imgSrcSet = (delimit $imgSrcSet ",") -}}

<figure{{ with .Get "class" }} class="{{.}}"{{ end }}>
  <img
    class="img-fluid lazyload"
    data-sizes="auto"
    src="{{ $lqip.Permalink }}"
    data-srcset="{{ $imgSrcSet }}"
    width="{{ $image.Width }}"
    height="{{ $image.Height }}"
    {{ if .Get "alt" }}alt="{{.Get "alt" }}"{{ else if .Get "caption" }}alt="{{.Get "caption"}}"{{ end }}
  >
  <noscript><img class="img-fluid" sizes="100vw" srcset="{{ $imgSrcSet }}" src="{{ $image.Permalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" {{ if .Get "alt" }}alt="{{.Get "alt" }}"{{ else if .Get "caption" }}alt="{{.Get "caption"}}"{{ end }}></noscript>
  {{ with .Get "caption" }}<figcaption class="figure-caption">{{ . | safeHTML }}</figcaption>{{ end }}
</figure>
{{ with .Get "report" }}
<p class="view-on-map"><a href="https://play.dekart.xyz/reports/{{ . }}" target="_blank">view on a map</a></p>
{{ end }}
{{ with .Get "cloud" }}
<p class="view-on-map">
<a href="https://cloud.dekart.xyz/reports/{{ . }}/source?ref=dekart-xyz-view-map" target="_blank" class="btn btn-outline-primary btn-sm">
  View interactive map
</a>
</p>
{{ end }}
{{ with .Get "template" }}
<p class="view-on-map-template">
<a href="https://cloud.dekart.xyz/reports/{{ . }}/source?ref=dekart-xyz-view-map" target="_blank" class="btn btn-outline-primary btn-sm">
  → Use This Template
</a>
</p>
{{ end }}
