<div class="center-block">
    {{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) -}}
    {{ $lqip := $image.Resize $.Site.Params.lqipWidth -}}

    {{ $alt := .Get "alt" -}}
    {{ $href := .Get "href" -}}
    {{ $imgSrc := "" -}}
    {{ $imgSrcSet := slice -}}

    {{ $widths := $.Site.Params.landscapePhotoWidths -}}
    {{ if gt $image.Height $image.Width -}}
    {{ $widths = $.Site.Params.portraitPhotoWidths -}}
    {{ end -}}

    {{ range $widths -}}
    {{ $srcUrl := (printf "%dx" . | $image.Resize).Permalink -}}
    {{ if eq $imgSrc "" -}}{{ $imgSrc = $srcUrl -}}{{ end -}}
    {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) -}}
    {{ end -}}
    {{ $imgSrcSet = (delimit $imgSrcSet ",") -}}

    <figure class="main">
    <img class="img-fluid lazyload"
        data-sizes="auto" src="{{ $lqip.Permalink }}" data-srcset="{{ $imgSrcSet }}" width="{{ $image.Width }}"
        height="{{ $image.Height }}" alt="{{ $alt }}">
    <noscript><img class="img-fluid" sizes="100vw" srcset="{{ $imgSrcSet }}" src="{{ $image.Permalink }}"
        width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $alt }}"></noscript>
    </figure>
</div>
